@charset "UTF-8";
@font-face {
  font-family: "Minecraftia";
  src: url("../fonts/Minecraftia-Regular.eot");
  src: url("../fonts/Minecraftia-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Minecraftia-Regular.woff2") format("woff2"), url("../fonts/Minecraftia-Regular.woff") format("woff"), url("../fonts/Minecraftia-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: url(https://www.desktopbackground.org/download/o/2015/11/05/1037745_minecraft-dirt-wallpapers-by-thedevartist-on-deviantart_1190x672_h.jpg);
  background-size: cover;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

* {
  font-family: "Minecraftia";
  color: white;
  text-shadow: 2px 2px black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button,
input[type="submit"] {
  background: url(../images/button.png) 0 0/100% 100%;
  padding: 5px 40px;
  font-size: large;
  border: none;
}

button:hover,
input[type="submit"]:hover {
  background: url(../images/hovered_button.png) 0 0/100% 100%;
}

button[aria-label="Doré"],
input[type="submit"][aria-label="Doré"] {
  background: url(../images/golden_button.png) 0 0/100% 100%;
}

button[aria-label="Plus"],
input[type="submit"][aria-label="Plus"] {
  background: url(../images/plus_icon.png) 0 0/100% 100%;
  padding: 25px;
}

button[aria-label="Plus"]:hover,
input[type="submit"][aria-label="Plus"]:hover {
  background: url(../images/hovered_plus_icon.png) 0 0/100% 100%;
}

button[aria-label="Minus"],
input[type="submit"][aria-label="Minus"] {
  background: url(../images/minus_icon.png) 0 0/100% 100%;
  padding: 25px;
}

button[aria-label="Minus"]:hover,
input[type="submit"][aria-label="Minus"]:hover {
  background: url(../images/hovered_minus_icon.png) 0 0/100% 100%;
}

button[aria-label="Profil"],
input[type="submit"][aria-label="Profil"] {
  background: url(../images/profil_icon.png) 0 0/100% 100%;
  padding: 25px;
}

button[aria-label="Profil"]:hover,
input[type="submit"][aria-label="Profil"]:hover {
  background: url(../images/hovered_profil_icon.png) 0 0/100% 100%;
}

button[aria-label="Panier"],
input[type="submit"][aria-label="Panier"] {
  background: url(../images/cart_icon.png) 0 0/100% 100%;
  padding: 25px;
}

button[aria-label="Panier"]:hover,
input[type="submit"][aria-label="Panier"]:hover {
  background: url(../images/hovered_cart_icon.png) 0 0/100% 100%;
}

button[aria-label="Chest"],
input[type="submit"][aria-label="Chest"] {
  background: url(../images/chest_icon.png) 0 0/100% 100%;
  padding: 25px;
}

button[aria-label="Chest"]:hover,
input[type="submit"][aria-label="Chest"]:hover {
  background: url(../images/hovered_chest_icon.png) 0 0/100% 100%;
}

input[type]:not([type="range"]) {
  border: none;
  background: url(../images/input.png) 0 0/100% 100%;
  font-size: 1.7em;
  padding: 25px;
  outline-style: none;
}

input[type]:not([type="range"])::-webkit-input-placeholder {
  font-style: italic;
  color: #a8a8a8;
  text-shadow: none;
}

input[type]:not([type="range"]):-ms-input-placeholder {
  font-style: italic;
  color: #a8a8a8;
  text-shadow: none;
}

input[type]:not([type="range"])::-ms-input-placeholder {
  font-style: italic;
  color: #a8a8a8;
  text-shadow: none;
}

input[type]:not([type="range"])::placeholder {
  font-style: italic;
  color: #a8a8a8;
  text-shadow: none;
}

input[type]:not([type="range"])[aria-label="Alternative"] {
  background: none black;
  border: 4px solid gray;
  padding: 10px;
}

input[type]:not([type="range"])[aria-label="Alternative"]:focus {
  border-color: white;
}

input[type]:not([type="range"])[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../images/checkbox.png) 0 0/100% 100%;
  width: 70px;
  height: 70px;
}

input[type]:not([type="range"])[type="checkbox"]:checked {
  background: url(../images/checked_checkbox.png) 0 0/100% 100%;
}

input[type]:not([type="range"])[type="checkbox"]:checked:hover {
  background: url(../images/hovered_checked_checkbox.png) 0 0/100% 100%;
}

input[type]:not([type="range"])[type="checkbox"]:hover {
  background: url(../images/hovered_checkbox.png) 0 0/100% 100%;
}

input[type]:not([type="range"])[type="checkbox"][aria-label="Item-Frame"] {
  background: url(../images/item_frame.png) 0 0/100% 100%;
  width: 100px;
  height: 100px;
}

input[type]:not([type="range"])[type="checkbox"][aria-label="Item-Frame"]:checked {
  background: url(../images/glow_item_frame.png) 0 0/100% 100%;
}

input[type]:not([type="range"])[type="checkbox"][aria-label="Item-Frame"][id="reset"]:hover {
  background: url(../images/glow_item_frame.png) 0 0/100% 100%;
}

div[aria-label="Window"] {
  background: url(../images/Oak_Wood_Planks.png) 0 0/40%;
  border-radius: 22px;
}

div[id="window-container"] {
  background: url(../images/window.png) 0 0/100% 100%;
  margin-top: 2%;
  height: 100%;
  overflow: hidden;
}

#window-title {
  text-align: start;
  font-weight: 100;
  -webkit-margin-start: 3%;
          margin-inline-start: 3%;
  padding-top: 10px;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  text-shadow: none;
  color: #2d2d2d;
}

label {
  display: table;
}

label span {
  margin-left: 15px;
  color: black;
  text-shadow: none;
  font-size: 2em;
}
/*# sourceMappingURL=minecraft_elements.css.map */