@font-face {
  font-family: "Minecraftia";
  src: url("../fonts/Minecraftia-Regular.eot");
  src: url("../fonts/Minecraftia-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Minecraftia-Regular.woff2") format("woff2"), url("../fonts/Minecraftia-Regular.woff") format("woff"), url("../fonts/Minecraftia-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Minecraftia";
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  cursor: crosshair;
}

span,
p {
  text-shadow: 2px 2px black;
}

.container {
  display: -ms-grid;
  display: grid;
  grid-gap: 0px;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  grid-auto-rows: 1fr 8fr;
  height: 100vh;
      grid-template-areas: "header sidebar" "content sidebar";
}

.item {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background: url(../images/oakBackground.jpg);
  font-size: 1.5em;
  color: #ffffff;
}

.item2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: sidebar;
}

.item3 {
  background: url(../images/background.png);
  height: 100%;
  background-size: 100% 100%;
  overflow-y: scroll;
  direction: rtl;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
}

.item3 section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 3vh;
}

.item3 section article {
  background: url(../images/boxTopRow.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 11vh;
  height: 11vh;
}

.item3 section article:hover {
  background: url(../images/hovered_box.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.item3 section article img {
  width: 9vh;
}

.cart {
  color: #1d3950;
}

.profileInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.searchAndCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#style-1::-webkit-scrollbar {
  width: 50px;
  background: url(../images/scrollbar.png) no-repeat;
  background-size: 100% 100.5%;
}

#style-1::-webkit-scrollbar-thumb {
  background: url(../images/thumb.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.advancedSearch {
  background: url(../images/button.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 65vh;
      flex-basis: 65vh;
  height: 5vh;
  font-size: 2vh;
}

.advancedSearch:hover {
  background: url(../images/hovered_button.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.inscripContainer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 72%;
}

@media only screen and (max-width: 500px) {
  input[type]:not([type="range"]) {
    font-size: 1.2em !important;
    padding: 25px !important;
  }
}

.item-frame {
  background-color: #ffffff;
}
/*# sourceMappingURL=index.css.map */