// @import url(//db.onlinewebfonts.com/c/6ab539c6fc2b21ff0b149b3d06d7f97c?family=Minecraft);
// @font-face {
//     font-family: "Minecraft";
//     src: url("//db.onlinewebfonts.com/t/6ab539c6fc2b21ff0b149b3d06d7f97c.eot");
//     src: url("//db.onlinewebfonts.com/t/6ab539c6fc2b21ff0b149b3d06d7f97c.eot?#iefix") format("embedded-opentype"),
//         url("//db.onlinewebfonts.com/t/6ab539c6fc2b21ff0b149b3d06d7f97c.woff2") format("woff2"),
//         url("//db.onlinewebfonts.com/t/6ab539c6fc2b21ff0b149b3d06d7f97c.woff") format("woff"),
//         url("//db.onlinewebfonts.com/t/6ab539c6fc2b21ff0b149b3d06d7f97c.ttf") format("truetype"),
//         url("//db.onlinewebfonts.com/t/6ab539c6fc2b21ff0b149b3d06d7f97c.svg#Minecraft") format("svg");
// }
@font-face {
    font-family: "Minecraftia";
    src: url("../fonts/Minecraftia-Regular.eot");
    src: url("../fonts/Minecraftia-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Minecraftia-Regular.woff2") format("woff2"),
        url("../fonts/Minecraftia-Regular.woff") format("woff"),
        url("../fonts/Minecraftia-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: "Minecraftia";
    image-rendering: pixelated;
    cursor: crosshair;
}
span,
p {
    text-shadow: 2px 2px black;
}

$white: #ffffff;
$listBackground: url(../images/background.png);
$boxImgTop: url(../images/boxTopRow.png);
$boxDim: 11vh;

.container {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 1fr 8fr;
    height: 100vh;
    grid-template-areas:
        "header sidebar"
        "content sidebar";
}

.item {
    display: grid;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
    background: url(../images/oakBackground.jpg);
    font-size: 1.5em;
    color: $white;
}

.item2 {
    grid-area: sidebar;
}

.item3 {
    background: $listBackground;
    height: 100%;
    background-size: 100% 100%;
    overflow-y: scroll;
    direction: rtl;
    grid-area: content;
}
section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 3vh;
    // max-width: 1220px;
}
article {
    background: $boxImgTop;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $boxDim;
    height: $boxDim;
    &:hover {
        background: url(../images/hovered_box.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    img {
        width: 9vh;
    }
}

// @media (max-width: 700px) {
//   .container {
//     grid-template-areas:
//       "header header header"
//       "content content content"
//       "footer footer footer"
//   }

//   .item2 {
//     display: none;
//   }
// }
$iconBgColor: black;

.cart {
    color: rgb(29, 57, 80);
}
.profileInfo {
    display: flex;
}
.searchAndCart {
    display: flex;
    flex-direction: row-reverse;
}

#style-1::-webkit-scrollbar {
    width: 50px;
    background: url(../images/scrollbar.png) no-repeat;
    background-size: 100% 100.5%;
}

#style-1::-webkit-scrollbar-thumb {
    background: url(../images/thumb.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.advancedSearch {
    background: url(../images/button.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 65vh;
    height: 5vh;
    font-size: 2vh;
    &:hover {
        background: url(../images/hovered_button.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}
//Inscription
.inscripContainer {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 72%;
}
//MediaQueries
@media only screen and (max-width: 500px) {
    input[type]:not([type="range"]) {
        font-size: 1.2em !important;
        padding: 25px !important;
    }
}

//Window Related Style
//Recherche
.search-container {
    margin: auto;
    display: grid;
    grid-template-areas:
        "order-types item-types"
        "star-rating item-types";
    height: 80%;
    width: 93%;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1.8fr 2fr;
    div {
        height: fit-content;
        width: fit-content;
        margin-left: 9%;
    }
}

#order-types {
    grid-area: order-types;
    margin-top: 8%;
    margin-bottom: 10%;
}

#star-rating {
    grid-area: star-rating;
}

$fullSize: 0 0 / 100% 100%; //bg-position: 0 0 / bg-size: 100% 100%
#item-types {
    grid-area: item-types;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    margin-left: unset;
    div {
        width: min-content;
        height: min-content;
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
    input {
        margin-bottom: 30%;
        &:last-child {
            margin-bottom: unset;
        }
        //After
        &::after {
            display: block;
            margin-top: -30%;
            margin-left: -30%;
            // position: absolute;
            content: "";
            height: 80px;
            width: 80px;
        }
        &[id="armures"]::after {
            background: url(../images/diamond_chestplate.png) $fullSize;
        }
        &[id="armes"]::after {
            background: url(../images/diamond_sword.png) $fullSize;
        }
        &[id="nourriture"]::after {
            background: url(../images/bread.png) $fullSize;
        }
        &[id="munitions"]::after {
            background: url(../images/arrow.png) $fullSize;
        }
        &[id="medicaments"]::after {
            background: url(../images/potion.webp) $fullSize;
        }
        &[id="reset"]::after {
            background: url(../images/barrier.png) $fullSize;
        }
    }
}

//Panier
.cart-container {
    margin: auto;
    display: grid;
    grid-template-areas: "item-list item-info";
    height: 80%;
    width: 93%;
    grid-template-columns: 1fr 0.65fr;
    grid-template-rows: 1fr;
    div {
    }
}
#items-list {
    backdrop-filter: brightness(0.5);
    overflow: auto;
}
div[aria-label="Item-Slot"] {
    background: $boxImgTop 0 0 / 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    img {
        width: 65%;
    }
    &:hover::after {
        background: url("../images/cross.png") 0 0 / 100% 100%;
        filter: opacity(0.8);
        position: absolute;
        content: "";
        height: 100px;
        width: 100px;
    }
}
.item-holder {
    display: inline-flex;
    align-items: center;
    & > span {
        margin-top: 10px;
        margin-left: 15px;
        margin-right: 15px;
        font-size: xx-large;
    }
}

#item-info {
    background: url("../images/Oak_Wood_Planks.png") 0 0 / 24%;
}
.input-number {
    margin-left: 50px;
    display: contents;
    button {
        &:first-child {
            margin-right: 10px;
        }
        &:last-child {
            margin-left: 10px;
        }
    }
}
