body {
    margin: 0;
    background-color: #e9ebee;
    height: 100vh;
}

#navbar {
    display: grid;
    min-height: 100px;
    grid-auto-flow: column;
    background-color: #fcfcfc;
    grid-gap: 1.5em;
    padding: 0 40px;
    -webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
    -moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
    box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
}

#logo {
    display: grid;
    justify-content: start;
    align-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: rgb(26, 126, 180);
    text-transform: uppercase;
}

#links {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 1.5em;
    font-family: "Open Sans", sans-serif;
}

#links a {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
}

#links a:hover {
    color: #0474bc;
}

/* =======================
  ******* Mobile Menu ******
  ========================*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #fff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

a {
    font-family: "Open Sans", sans-serif;
}

/* Mobile to Tablet  */
@media (min-width: 320px) and (max-width: 767px) {
    #links,
    .mobile-menu {
        display: none;
    }
    #logo {
        display: inline-grid;
        grid-template-columns: auto auto;
        grid-gap: 70px;
    }
    .start-button{
        font-size: 3rem;
        width: 350px;
        height: 100px;
        border-radius: 50px;
    }
    .question{
        font-size: 2.2rem;
        margin-inline: 10%;
    }
}

/* Tablet to Desktop */
@media (min-width: 768px) {
    .mobile-btn {
        display: none;
    }
    .start-button{
        font-size: 4rem;
        width: 450px;
        height: 130px;
        border-radius: 80px;
    }
    #title{
        font-size: 3rem;
    }
    .question{
        font-size: 3em; 
    }
}
//Puzzle
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
//Main
.start-button{
    font-family: system-ui;
    border: none;
    background-color: hsl(210, 90%, 55%);
    color: white;
    box-shadow: 1px 1px 29px 5px #999;
    cursor: pointer;
    &:hover{
        background-color: hsl(210, 90%, 40%);
    }
    
}
.answers{
    display: flex;
    flex-direction: column;
    width: 60%;
    button{
        height: 60px;
        margin-block: 10px;
        font-size: 2.2rem;
        background-color: hsl(210, 90%, 55%);
        border-radius: 80px;
        border: none;
        color: white;
        cursor: pointer;
        &:first-child{
            margin-top: unset;
        }
        &:last-child{
            margin-bottom: unset;
        }
        &:hover{
            background-color: hsl(210, 90%, 40%);
        }
        &:focus{
            background-color: hsl(0, 90%, 40%);
        }
    }
}
.good{
    &:focus{
        background-color: hsl(100, 90%, 40%) !important;
    }
}
.question{
    font-family: system-ui; 
    text-align: center; 
}
